version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=jan_sevak
      - POSTGRES_USER=jan_sevak_user
      - POSTGRES_PASSWORD=jan_sevak_password
    restart: always

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    command: gunicorn --bind 0.0.0.0:8000 --timeout 120 jan_sevak.wsgi:application
    volumes:
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    env_file:
      - .env
    depends_on:
      - db
    restart: always

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
